<div class="nav-andromeda">
    <nav class="nav-andromeda__nav">
        <ul class="nav-andromeda__list">
            <li class="nav-andromeda__item"><a href="#top" class="nav-andromeda__link active">Home</a></li>
            <li class="nav-andromeda__item"><a href="#about" class="nav-andromeda__link">About Us</a></li>
            <li class="nav-andromeda__item"><a href="#services" class="nav-andromeda__link">Services</a></li>
            <li class="nav-andromeda__item"><a href="#portfolio" class="nav-andromeda__link">Portfolio</a></li>
            <li class="nav-andromeda__item"><a href="#blog" class="nav-andromeda__link">Blog</a></li> 
            <li class="nav-andromeda__item"><a href="#contact" class="nav-andromeda__link">Message Us</a></li> 
            <li class="nav-andromeda__item"><div class="main-red-button"><a href="#contact" class="nav-andromeda__link nav-andromeda__link--btn">Contact Now</a></div></li> 
          </ul>        
          <a class='nav-andromeda__link nav-andromeda__link--trigger'>
              <span>Menu</span>
          </a>
    </nav>
</div>